<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Healthy food</title>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <!-- Header-->
  <header class="header center-align">
    <div class="row">
      <div class="col s12">
        <img src="../assets/img/logo-horizontal.png" alt="" class="responsive-img logo-header">
      </div>
    </div>
  </header>


  <!-- Contacts-->
  <div id="container-follow">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="../assets/img/perfil_1.jpeg" alt="" class="circle responsive-img" width="250px" height="250px"> <!-- notice the "circle" class -->
              </div>
                <div class="col s10">
                <h5 class="black-text"> Elena Ortiz </h5>
                <h6>Cosinera</h6>
                <a id="btn-follow" class="waves-effect waves-light btn">Seguir</a>
                <a class="btn disabled">Eliminar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s2">
                  <img src="../assets/img/perfil_2.jpeg" alt="" class="circle responsive-img" width="250px" height="250px"> <!-- notice the "circle" class -->
                </div>
                <div class="col s10">
                  <h5 class="black-text"> Martín Berasategui  </h5>
                  <h6>Nutriologo</h6>
                  <a id="btn-follow" class="waves-effect waves-light btn">Seguir</a>
                  <a class="btn disabled">Eliminar</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m8 offset-m2 l6 offset-l3">
              <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                  <div class="col s2">
                    <img src="../assets/img/perfil_3.jpeg" alt="" class="circle responsive-img" width="250px" height="250px"> <!-- notice the "circle" class -->
                  </div>
                  <div class="col s10">
                    <h5 class="black-text"> Pedro Subijana </h5>
                    <h6>Estudiante</h6>
                      <a id="btn-follow" class="waves-effect waves-light btn">Seguir</a>
                      <a class="btn disabled">Eliminar</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s2">
                      <img src="../assets/img/perfil_4.jpeg" alt="" class="circle responsive-img" width="250px" height="250px"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                      <h5 class="black-text"> Patricia Quintana</h5>
                      <h6> Medico</h6>
                        <a id="btn-follow" class="waves-effect waves-light btn">Seguir</a>
                        <a class="btn disabled">Eliminar</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col s12 m8 offset-m2 l6 offset-l3">
                  <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                      <div class="col s2">
                        <img src="../assets/img/perfil_5.jpeg" alt="" class="circle responsive-img" width="350px" height="350px"> <!-- notice the "circle" class -->
                      </div>
                      <div class="col s10">
                        <h5 class="black-text">Daniel Santiago</h5>
                        <h6>Instructor fitness </h6>
                          <a id="btn-follow" class="waves-effect waves-light btn">Seguir</a>
                          <a class="btn disabled">Eliminar</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                    <div class="card-panel grey lighten-5 z-depth-1">
                      <div class="row valign-wrapper">
                        <div class="col s2">
                          <img src="../assets/img/perfil_6.jpeg" alt="" class="circle responsive-img" width="350px" height="350px"> <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                          <h5 class="black-text">Alicia Gironella</h5>
                          <h6>Nutrologa</h6>
                            <a id="btn-follow" class="waves-effect waves-light btn">Seguir</a>
                            <a class="btn disabled">Eliminar</a>
                        </div>
                      </div>
                    </div>
                  </div>


    <!-- Nav-->
    <nav class="nav-bottom">
      <div class="row">
        <div class="col s12 center-align">
          <div class="col s3">
            <a href="principal.html"><i class="material-icons prefix">home</i></a>
          </div>
          <div class="col s3">
            <a href="chat.html"><i class="material-icons prefix">comment</i></a>
          </div>
          <div class="col s3">
            <a href="follow.html"><i class="material-icons prefix">person_add</i></a>
          </div>
          <div class="col s3">
            <a href="profile.html"><i class="material-icons prefix">person</i></a>
          </div>
        </div>
      </div>
    </nav>

  </div>


  <!-- SCRIPTS -->

    <!-- firabase -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>


    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <script type="text/javascript" src="../js/app.js"></script>



</body>
</html>
